body{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1200px;
    width: 100%;
}

.navbar{
    background-color: #24292f;
}

#cabecalho .nav .nav-link.active{
    background-color: #ebc557;
    color: #fff;
}

#cabecalho .nav .nav-link, .navbar-brand, .navbar-brand:hover,
.nav-cardapio .nav-link.active:hover{
    color: #fff;
}

.navbar-toggler{
    background-color: #fff;
}

.section-title{
    font-family: 'Cinzel', serif;
    font-size: 40px;
    color: #ebc557;

}

.section-title span{
    color: #ffeae6;
}

#sobre-a-joalheria, #produtos{
    background-color: #24292f;
}
p, ul, li{
    color: #fff;
}

#produtos{
    box-shadow: #24292f 10px;
}

.text-colored{
    color: #ebc557;
}

.nav-cardapio .nav-link.active,
#fale-conosco button{
    background-color: #ebc557;
    color: #24292f;
}

#produtos .nav-link{
    color: #24292f;
    background-color: #fff;
    font-weight: bold;
    padding: 10px;
    margin-left: 10px;
    border: none;
}

#produtos .nav-link.active{
    background-color: #ebc557;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links a{
    text-decoration: none;
}

.card{
    padding: 16px;
    margin-top: 10px;
}






@media screen and (min-width:767px) and (max-width: 1200px){
    .col-md-4 .card{
        width: 10rem;
    }

    .carousel-item img{
        height: auto;
        max-width: 100%;
    }
}

@media screen and (max-width: 767px){
        .carousel-inner img{
            height: auto;
            max-width: 100%;
        }

        .col-md-4{
            display: flex;
            justify-content: center;
        }
}

